@import "mixins";

:host {
  display: block;
  @include wh-100;
  overflow: hidden;
}

#document {
  @include wh-100;
  overflow: scroll;
  position: relative;
}

.error {
  @include wh-100;
  @include flex-center;
}
