@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: row;
  @include wh-100;
}

.pages {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  @include h-100;
  background: $color-blue-500;
  color: $color-white;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;

  a {
    color: $color-white;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
      background: $color-blue-400;
    }

    &.active {
      background: $color-blue-300;
    }
  }
}

.container {
  @include h-100;
  flex-grow: 1;
  overflow: hidden;
}
